<fieldset>
  <legend><%= l(:label_semantic_search_settings) %></legend>

  <div class="box tabular settings">
    <p>
      <label><%= l(:label_openai_api_key) %></label>
      <em class="info"><%= l(:text_openai_api_key_info) %></em>
      <br>
      <code>OPENAI_API_KEY=<%= ENV['OPENAI_API_KEY'].present? ? "#{ENV['OPENAI_API_KEY'][0..5]}..." : l(:label_not_set) %></code>
      <br>
      <em class="info"><%= l(:text_env_variable_required) %></em>
    </p>

    <p>
      <label for="settings_base_url"><%= l(:label_base_url) %></label>
      <%= text_field_tag 'settings[base_url]', settings['base_url'] || 'https://api.openai.com/v1', size: 50 %>
      <em class="info"><%= l(:text_base_url_info) %></em>
    </p>

    <p>
      <label for="settings_embedding_model"><%= l(:label_embedding_model) %></label>
      <%= select_tag 'settings[embedding_model]',
                     options_for_select([
                       ['text-embedding-ada-002 (Default)', 'text-embedding-ada-002'],
                       ['nomic-embed-text:latest (Ollama)', 'nomic-embed-text:latest']
                     ], settings['embedding_model'] || 'text-embedding-ada-002') %>
    </p>

    <p>
      <label for="settings_search_limit"><%= l(:label_search_limit) %></label>
      <%= text_field_tag 'settings[search_limit]', settings['search_limit'] || 25, size: 5 %>
      <em class="info"><%= l(:text_search_limit_info) %></em>
    </p>

    <p>
      <label for="settings_include_description"><%= l(:label_include_description) %></label>
      <%= check_box_tag 'settings[include_description]', '1', settings['include_description'] != '0' %>
    </p>

    <p>
      <label for="settings_include_comments"><%= l(:label_include_comments) %></label>
      <%= check_box_tag 'settings[include_comments]', '1', settings['include_comments'] != '0' %>
    </p>

    <p>
      <label for="settings_include_time_entries"><%= l(:label_include_time_entries) %></label>
      <%= check_box_tag 'settings[include_time_entries]', '1', settings['include_time_entries'] != '0' %>
    </p>
  </div>
</fieldset>
