<%= stylesheet_link_tag 'semantic_search', plugin: 'semantic_search' %>

<div class="contextual">
  <% if User.current.admin? %>
    <%= link_to l(:label_settings), { controller: 'semantic_search', action: 'settings' }, class: 'icon icon-settings' %>
  <% end %>
</div>

<h2><%= l(:label_semantic_search) %></h2>

<%= form_tag({controller: 'semantic_search', action: 'index'}, method: :get, id: 'semantic-search-form') do %>
<div class="box search-form-box">
  <p>
    <%= label_tag "q", l(:label_semantic_search_query), class: 'search-form-label' %>
    <div class="search-input-group">
      <%= text_field_tag 'q', @question, size: 60, placeholder: l(:label_semantic_search_placeholder), autofocus: true, class: 'search-query-input' %>
      <%= submit_tag l(:button_search), name: nil, class: 'search-submit-button' %>
    </div>
  </p>

  <p class="note">
    <%= l(:text_semantic_search_info) %>
  </p>
</div>
<% end %>

<% if @question.present? %>
  <div id="search-results">
    <div class="search-results-count">
      <%= l(:label_result_count, count: @results.size) %>
    </div>

    <% if @results.present? %>
      <dl id="search-results-list" class="search-results">
        <% @results.each do |result| %>
          <% issue_id = result['issue_id'] %>
          <%# Render issue details here %>
          <%= render 'semantic_search/issue_details', issue: result %>
        <% end %>
      </dl>
    <% else %>
      <p class="nodata"><%= l(:label_no_data) %></p>
    <% end %>
  </div>
<% end %>
